<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <ul class="nav navbar-nav">
            <f:for each="{mainnavigation}" as="mainnavigationItem">
                <li class="nav-item {f:if(condition: mainnavigationItem.active, then:'active')} {f:if(condition: mainnavigationItem.children, then:'dropdown')}">
                    <f:if condition="{mainnavigationItem.children}">
                        <f:then>
                            <a href="#" class="nav-link dropdown-toggle" id="p{mainnavigationItem.data.uid}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {mainnavigationItem.title}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="p{mainnavigationItem.data.uid}">
                                <f:for each="{mainnavigationItem.children}" as="child">
                                    <a class="dropdown-item" href="{child.link}" target="{child.target}" title="{child.title}">
                                        {child.title}
                                    </a>
                                </f:for>
                            </div>
                        </f:then>
                        <f:else>
                            <a class="nav-link" href="{mainnavigationItem.link}" target="{mainnavigationItem.target}" title="{mainnavigationItem.title}">
                                {mainnavigationItem.title}
                            </a>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 2em; margin-bottom: 2em;">
    <f:render section="Main" />
</div>
